@font-face{
    font-family: 'NotoSans';
    src: url(/fonts/NotoSans-Regular.ttf);
    font-family: 'RobotoSlab';
    src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

:root{
    --light-blue: #5FA0F5;
    --dark-gray: #777777;
    --light-gray: #AACBF7;
}

header {
    height: 150px;
    border: 0% 0% 1% 0%, solid, black;

}

.logo {
    display: inline;
    float: left;
    height: 80%;
    width: 12%;
    position: relative;
    top: 10%;
    
}

.csmtitle{
    font-family: Robotoslab, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25%;
    float: left;
    display: inline;
    position: relative;
    left: 5%;

}
.navigation {
    font-family: RobotoSlab, Arial, Helvetica, sans-serif;
    color: var(--dark-gray);
    font-size: x-large;
    display: inline;
    float: right;
    position: relative;
    top: 38%;
}