@font-face{
    font-family: 'NotoSans';
    src: url(/fonts/NotoSans-Regular.ttf);
    font-family: 'RobotoSlab';
    src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

:root{
    --light-blue: #5FA0F5;
    --dark-gray: #777777;
    --light-gray: #AACBF7;
}
body{
    margin: 0%;
}

header {
    height: 150px;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;

}

.logo {
    display: block;
    left: 50%;
    height: 80%;
    width: 12%;
    position: relative;
}

.csmtitle{
    font-family: Robotoslab, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xxx-large;
    float: left;
    position: relative;
    display: block;
    left: 50%;

}
.navigation {
    font-family: RobotoSlab, Arial, Helvetica, sans-serif;
    color: var(--dark-gray);
    font-size: large;
    font-weight: bold;
    display: inline;
    float: right;
    position: relative;
    top: 43%;
    margin-right: 4%;
    
}

footer{
    background-color: #454545;
    height: 350px;

}

.footercontainer{
    width: 50%;
    display: inline;
}

.footerheader{
    color: var(--light-blue);
    font-family: RobotoSlab, Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.footercontent{
    color: white;
    font-family: NotoSans, 'Times New Roman', Times, serif;
}



@media only screen and (min-width: 600px){

.logo{
    display: inline;
    float: left;
    top: 10%;
}

.csmtitle{
    display: inline;
    left: 0%;
    top: 7%;
}
}